/**
 * 侧边栏
 */

aside,
.site-main
{
    margin: 50px 0;

    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

aside
{
    float: left;

    width: 200px;
    min-height: 300px;

    border-bottom: 5px solid #00234a;
}

.sidebar-title
{
    font-family: 'SimHei', '黑体', Helvetica, Arial, sans-serif;
    font-size: 1.6em;

    padding: 15px 0;

    text-align: center;

    color: #fff;
    background-color: #004da1;
}

.sidebar-content
{
    padding: 10px 30px;
}

.sidebar-content li a
{
    font-family: 'Microsoft Yahei', '微软雅黑', 'SimHei', '黑体', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 50px;

    display: block;

    height: 50px;

    color: #555;
}

.sidebar-content li a:before
{
    font-family: FontAwesome;

    margin-right: 20px;

    content: '\f0da';
}

.sidebar-content li a:hover,
.sidebar-content li a.highlight
{
    font-weight: bold;

    color: #004da1;
}

.sidebar-content li a:hover:before
{
    content: '\f0a4';
}


/**
 * 分类、文章、页面
 */

.site-main
{
    float: right;

    width: 830px;
    padding: 30px 60px 40px 60px;

    -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, .15);
       -moz-box-shadow: 3px 3px 15px rgba(0, 0, 0, .15);
            box-shadow: 3px 3px 15px rgba(0, 0, 0, .15);

         -o-box-shadow: 3px 3px 15px rgba(0, 0, 0, .15);
        -ms-box-shadow: 3px 3px 15px rgba(0, 0, 0, .15);
}

.post-title
{
    font-family: 'Microsoft Yahei', '微软雅黑', 'SimHei', '黑体', Helvetica, Arial, sans-serif;
    font-size: 1.7em;
    font-weight: bold;

    margin-bottom: 30px;
    padding: 0 30px 30px 30px;

    text-align: center;

    color: #076295;
    border-bottom: 3px solid #dcdcdc;
}


/* 文章的分类目录 */

.article-list
{
    list-style: circle;
}

.article-list li
{
    line-height: 50px;

    height: 50px;

    border-bottom: 1px dotted #d0d0d0;
}

.article-list a
{
    font-size: 1.1em;

    color: #000;
}

.article-list a:hover
{
    color: #004da1;
}

.article-list .date
{
    float: right;
}


/* 分类目录的分页 */

.pagination
{
    margin-top: 60px;

    background-color: #f5f5f5;
}

.pagination .screen-reader-text
{
    display: none;
}

.pagination .nav-links
{
    text-align: center;
}

.page-numbers
{
    margin: 0 2px;
    padding: 8px 14px;

    color: #666;
    border: #ccdbe4 1px solid;
}

.current
{
    font-weight: 700;

    margin: 0 2px;
    padding: 8px 14px;

    color: #fff;
    background: #4591e4;
}


/* 文章底部的上一篇/下一篇 */

.post-navigation
{
    position: relative;

    height: 20px;
    margin-top: 50px;
    padding-top: 20px;

    border-top: 3px solid #dcdcdc;
    background-color: #f5f5f5;
}

.screen-reader-text
{
    display: none;
}

.nav-previous
{
    position: absolute;
    left: 0;
}

.nav-next
{
    position: absolute;
    right: 0;
}

.nav-previous:before,
.nav-next:after
{
    font-family: FontAwesome;

    color: #4585c3;
}

.nav-previous:before
{
    margin-right: 10px;

    content: '\f0a5';
}

.nav-next:after
{
    margin-left: 10px;

    content: '\f0a4';
}

.nav-previous a:hover,
.nav-next a:hover
{
    color: #072848;
}


/* 文章、页面 */

.article-time
{
    position: relative;
    top: -20px;

    text-align: center;
}

.post-thumbnail img
{
    width: 830px;
    height: auto;
    margin: 20px 0;
}

.entry-content
{
    font-family: 'Microsoft Yahei', '微软雅黑', 'SimHei', '黑体', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    line-height: 2em;

    color: #111;
}

.entry-content p
{
    margin: 1em 0;

    text-indent: 2em;
}

.entry-content h1
{
    font-family: Georgia, 'Microsoft Yahei', '微软雅黑', Helvetica, Arial, sans-serif;
    font-size: 1.3em;

    margin: 40px 0 10px 0;
    padding-bottom: 10px;

    color: #c50000;
    border-bottom: 1px solid #d8d1d1;
}

.entry-content h1:before
{
    font-family: FontAwesome;
    font-size: .8em;

    margin-right: 1em;

    content: '\f192';

    color: #c50000;
}


/* 分类目录/页面中的人物头像 */

.person-head
{
    float: left;

    margin-top: 10px;
    margin-right: 50px;

    transition: color .4s, background-color .4s;

    color: #222;
    background-color: #e0e0e0;
}

.person-head img
{
    width: 170px;
    height: 200px;

    opacity: 1;
}

.person-head div
{
    font-family: 'Microsoft Yahei', '微软雅黑', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;

    padding: 5px 0;

    text-align: center;
}

.person-head:hover
{
    color: #fff;
    background-color: #0068b7;
}

.person-head img:hover
{
    opacity: .8;
    color: #fff;
    background: rgba(0, 0, 0, .1);
}


/* 文章中的个人简介 */

.person-info img
{
    float: right;

    width: 170px;
    height: 200px;
    padding-left: 30px;

    background-color: #f5f5f5;
}

.person-info h1
{
    line-height: 50px;

    height: 50px;
    margin: 20px 0;
    padding: 0 20px;

    color: #003264;
    border: none;
    border-left: 7px solid #326ba4;
    background-color: #eee;
}

.person-info h1:before
{
    content: '';
}
