/**
 * 侧边栏
 */

aside,
.site-main
{
    margin: 50px 0;

    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

aside
{
    float: left;

    width: 200px;
    min-height: 300px;

    border-bottom: 5px solid #00234a;
}

.sidebar-title
{
    font-family: 'SimHei', '黑体', Helvetica, Arial, sans-serif;
    font-size: 1.6em;

    padding: 15px 0;

    text-align: center;

    color: #fff;
    background-color: #004da1;
}

.sidebar-content
{
    padding: 10px 30px;
}

.sidebar-content li a
{
    font-family: 'Microsoft Yahei', '微软雅黑', 'SimHei', '黑体', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 50px;

    display: block;

    height: 50px;

    color: #555;
}

.sidebar-content li a:before
{
    font-family: FontAwesome;

    margin-right: 20px;

    content: '\f0da';
}

.sidebar-content li a:hover,
.sidebar-content li a.highlight
{
    font-weight: bold;

    color: #004da1;
}

.sidebar-content li a:hover:before
{
    content: '\f0a4';
}

/**
 * 归档、文章、页面
 */

.site-main
{
    float: right;

    width: 830px;
    padding: 30px 60px 40px 60px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
}

.post-title
{
    color: #076295;
    font-size: 1.7em;
    text-align: center;
    font-family: 'Microsoft Yahei', '微软雅黑', 'SimHei', '黑体', Helvetica, Arial, sans-serif;
    padding: 0px 30px 30px 30px;
    border-bottom: 3px solid #DCDCDC;
    margin-bottom: 30px;
    font-weight: bold;
}

/* 归档 */
.archive-list {
    list-style: circle;
}
.archive-list li{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dotted #d0d0d0;
}
.archive-list a{
    font-size: 1.1em;
    color: #000;
}
.archive-list a:hover{
    color: #004DA1;
}
.archive-list-date{
    float: right;
}
/* 归档的分页 */
.pagination{

    margin-top: 60px;

    background-color: #F5F5F5;
}
.pagination .screen-reader-text{
    display: none;
}
.pagination .nav-links{
    text-align: center;
}
.page-numbers{
    padding: 8px 14px;
    border: #ccdbe4 1px solid;
    margin: 0 2px;
    color: #666;
}
.current{
    color: #fff;
    font-weight: 700;
    padding: 8px 14px;
    margin: 0 2px;
    background: #4591e4;
}

/* 文章底部的上一篇/下一篇 */
.post-navigation{

    margin-top: 50px;
    padding-top: 20px;
    background-color: #F5F5F5;
    border-top: 3px solid #DCDCDC;
    position: relative;
    height: 20px;
}
.screen-reader-text{
    display: none;
}

.nav-previous{
    position: absolute;
    left: 0;
}
.nav-next{
    position: absolute;
    right: 0;
}
.nav-previous:before,
.nav-next:after{
    font-family: FontAwesome;    
    color: #4585c3;
}
.nav-previous:before{
    content: "\f0a5";
    margin-right: 10px;
}
.nav-next:after{
    content: "\f0a4";
    margin-left: 10px;
}
.nav-previous a:hover,
.nav-next a:hover{
    color: #072848;
}
/* 文章、页面 */
.article-time{
    text-align: center;
    position: relative;
    top: -20px;
}
.post-thumbnail img{
    width: 830px;
    height: auto;
    margin: 20px 0;
}
.entry-content{
    color: #111;
    font-size: 1.1em;
    font-family: 'Microsoft Yahei', '微软雅黑', 'SimHei', '黑体', Helvetica, Arial, sans-serif;
    line-height: 2em;
}
.entry-content p{
    text-indent: 2em;
    margin: 1em 0;
}
.entry-content h1{
    font-size: 1.3em;
    margin: 40px 0 10px 0;
    padding-bottom: 10px;
    color: #c50000;
    font-family: Georgia, "Microsoft Yahei", "微软雅黑", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #d8d1d1;
}
.entry-content .person{
    float: left;
    text-align: center;
    margin-right: 30px;
}
.entry-content .person img{
    margin: 10px 0;
    width: 150px;
    height: auto;
}